@media screen and (max-width: 1200px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 96%;
	}

}

@media screen and (max-width: 1060px) {

	#open-menu,
	.nav-menu-title {
		display: block;
	}

	#nav-menu {
		display: none;
	}

	#cart-right {
		width: 100%;
	}

	#nav-menu {
		position: fixed;
		width: 100%;
		top: -500px;
		left: 0;
		z-index: 999;
		display: none;
		visibility: hidden;
		transition: 0.2s all ease-in-out;
		background: #FFF;
	}

	#nav-menu.menuMobile {
		display: block;
		visibility: visible;
		top: 0;
		
	}

	#nav-menu.menuMobile li a {
		color: #999 !important;
		padding: 13px 16px !important;
	}

	#nav-menu.menuMobile li:hover a {
		color: #37adef !important;
	}

	#nav-menu.menuMobile li:hover .dropdown-menu {
		display: none !important;
	}
}

@media screen and (max-width: 992px) {
	#desktop {
		position: fixed;
		width: 100%;
		bottom: 0;
		z-index: 9;
	}
	.breadcrumb {
		justify-content: center;
	}

	.list-categories {
		text-align: center;
	}
}

@media screen and (max-width: 620px) {
	#open-search {
		display: block;
	}

	#search {
		display: none;
	}

	#search.searchOpen {
		position: absolute;
		width: 100%;
		top: -75%;
		left: 0;
		display: block;
		padding: 10px;
		margin: 0;
		background: #FFF;
		box-shadow: 0 0 10px #00000040;
		border-radius: 5px 5px 0 0;
	}

	#search.searchOpen button {
		color: #000;
	}
}