<div class="column-list-categories fixcontent">
  <h2>Departamentos</h2>
  <div class="menuAccordion">
    <ul>
      {% for category in categories %}
      <li class="{% if category.category_id == category_id %}active{% endif %}"><a href="{{ category.href }}" class="active collpase ">{{ category.name }} {% if category.children %}<i class="fa fa-caret-down"></i>{% endif %}</a>  
        {% if category.children %}
        <div class="menucollapse">
          {% for child in category.children %}
          <a href="{{ child.href }}" class="{% if child.category_id == child_id %}active{% endif %}">{{ child.name }}</a>
          {% endfor %} 
        </div>
        {% endif %}
      </li>  
      {% endfor %}
    </ul>
  </div>
</div>